<!doctype html>
<html>
<head>
    <title>Project Info</title>
</head>
<body>
<h1>{{ project_info[0] }}</h1>

<p><b>Description</b>: {{ project_info[1] }}</p>
<br>
<br>
<p><b>Max Grade</b>: {{ project_info[2] }}</p>

{% if student_grades %}
    <ul><b>Student Grades on {{ project_info[0] }}</b>
    <br>
    <br>
    {% for student in student_grades %}
        <li><i> Student:</i> <a href="/student?github={{ student[0] }}">{{ student[0] }}</a>, <i>Grade:</i> {{ student[1] }} </li>
        <br>
    {% endfor %}
</ul>
{% else %}
    <p>Students have not completed this project!</p>

{% endif %}
</body>
</html>