<!doctype html>
<html>
<head>
    <title>Add New Student</title>
</head>

<body>
<h1> Add New Student </h1>

<form action="/display_student_form" method="POST">
    <p> Please fill out the following: </p>
    <br>
    <label>First name:
        <input type="text" name="firstname">
    </label>
    <br>
    <br>
    <label>Last name:
        <input type="text" name="lastname">
    </label>
    <br>
    <br>
    <label>Github:
        <input type="text" name="github">
    </label>
    <br>
    <br>
    <input type="submit">
</form>

</body>
</html>